*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  perspective: 500px;
}

.sublime {
  width: 400px;
  height: 400px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  background-color: #4d4d4e;
  border-radius: 50%;
  border: 8px solid white;
  box-shadow: 
    0 0 50px rgba(0, 0, 0, .3)
    0 0 10px rgba(0, 0, 0, .5) inset;
  animation: sublimeRotate 500ms ease-in-out backwards;
}

.sublime-logo {
  width: 180px;
  height: 200px;
  margin: auto;
  position: relative;
}

.sublime-logo-top,
.sublime-logo-center,
.sublime-logo-bottom {
  width: 100%;
  height: 33.33333%;
  background-color: #fe9720;
  border-radius: 8px;
  position: absolute;
  left: 0;
}

.sublime-logo-top {
  top: 0;
  z-index: 1;
  transform: skewY(-20deg);
  animation: sublimeTop 500ms ease-in-out 500ms backwards;
}

.sublime-logo-center {
  top: 50%;
  z-index: 2;
  box-shadow: 0 10px 15px rgba(0, 0, 0, .2);
  transform: translateY(-50%) skewY(20deg);
  animation: sublimeCenter 500ms ease-in-out 500ms backwards;
}

.sublime-logo-bottom {
  bottom: 0;
  z-index: 1;
  transform: skewY(-20deg);
  animation: sublimeBottom 500ms ease-in-out 500ms backwards;
}

@keyframes sublimeRotate {
  from {
    transform: rotateY(90deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

@keyframes sublimeTop {
  from {
    transform: translateY(-20px) skewY(-20deg);
    opacity: 0;
  }
  to {
    transform: translateY(0) skewY(-20deg);
    opacity: 1;
  }
}

@keyframes sublimeCenter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes sublimeBottom {
  from {
    transform: translateY(20px) skewY(-20deg);
    opacity: 0;
  }
  to {
    transform: translateY(0) skewY(-20deg);
    opacity: 1;
  }
}