body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffd0a8;
  color: #333;
  font-family: 'Calibri', 'Sans-Serif';
  font-weight: 400;
}

.container {
  text-align: center;
  padding: 2rem;
  border-radius: 5px;
  background-color: #fff;
  flex: 0 0 80%;
}

#quoteBtn {
  border: none;
  color: #fff;
  background: #d89156;
  font-size: 1.3rem;
  padding: .25rem .5rem;
  border-radius: 7px;
  cursor: pointer;
}

#quoteBtn:hover {
  color: #ffd000;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #fcdbbf;
  margin: 1.5rem;
  padding: .5rem;
}

#quoteAuthor {
  color: #ffd000;
}