* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar__header {
  background: #545454;
  display: flex;
  justify-content: space-between;
  padding: .5rem 1rem;
  border-bottom: .3rem solid #6baa75;
}

.navbar__btn {
  align-self: center;
  border: 5px solid #6baa75;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 5px;
  margin: .5rem;
  background-color: #6baa75;
  transition: all 2s ease;
}

.change .bar1{
  transform: rotate(-45deg) translate(-10px, 10px);
}

.change .bar2{
  opacity: 0;;
}

.change .bar3{
  transform: rotate(45deg) translate(-7px, -8px);
}

.navbar__links {
  list-style-type: none;
  transition: all 2s ease;
  height: 0;
  overflow: hidden;
}

.navbar__collapse {
  height: 240px;
}

.navbar__single-link {
  display: block;
  background: #697476;
  padding: 1rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: #6baa75;
  transition: all 1s ease;
  cursor: pointer;
}

.navbar__sigle-link:hover {
  padding-left: 1.5rem;
  background: #545454;
}

header {
  min-height: calc(100vh - 91.8px);
  background: url('./img/logo-1.jpg')center/cover no-repeat;
}