*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #212121;
}

.react {
  width: 300px;
  height: 300px;
  margin: 50px auto;
  position: relative;
}

.react::before {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  background-color: #00d3f8;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  animation: reactCircle 500ms ease-in-out backwards;
}

.react-ellipse {
  width: 90%;
  height: 110px;
  border: 8px solid #00d3f8;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
}

.react-ellipse.center {
  transform: translate3d(-50%, -50%, 0);
  animation: reactEllipseCenter 500ms ease-in-out backwards 500ms;
}

.react-ellipse.left {
  transform: translate3d(-50%, -50%, 0) rotate(60deg);
  animation: reactEllipseLeft 500ms ease-in-out backwards 1000ms;
}

.react-ellipse.right {
  transform: translate3d(-50%, -50%, 0) rotate(-60deg);
  animation: reactEllipseRight 500ms ease-in-out backwards 1000ms;
}

@keyframes reactCircle {
  from {
    transform: translate3d(-50%, -50%, 0) scale(0);
  }
  to {
    transform: translate3d(-50%, -50%, 0) scale(1);
  }
}

@keyframes reactEllipseCenter {
  from {
    transform: translate3d(-50%, -50%, 0) rotateX(90deg);
  }
  to {
    transform: translate3d(-50%, -50%, 0) rotateX(0deg);
  }
}

@keyframes reactEllipseLeft {
  from {
    transform: translate3d(-50%, -50%, 0) rotateX(0deg);
    opacity: 0;
  }
  to {
    transform: translate3d(-50%, -50%, 0) rotate(60deg);
    opacity: 1;
  }
}

@keyframes reactEllipseRight {
  from {
    transform: translate3d(-50%, -50%, 0) rotateX(0deg);
    opacity: 0;
  }
  to {
    transform: translate3d(-50%, -50%, 0) rotate(-60deg);
    opacity: 1;
  }
}