*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #333;
}

.gitbash {
  width: 400px;
  height: 400px;
  margin: 100px auto;
  position: relative;

  background-color: #fff;
  border-radius: 30px;
  border: 8px solid white;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transform: rotate(45deg);
}

.gitbash-top, .gitbash-bottom {
  width: 100%;
  height: 50%;
  position: relative;
}

.gitbash-top::before, .gitbash-top::after,
.gitbash-bottom::before, .gitbash-bottom::after {
  content: '';
  width: 50%;
  height: 100%;
  border: 8px solid white;
  position: absolute;
  top: 0;
}

.gitbash-top::before {
  left: 0;
  background-color: #db3e3e;
  border-radius: 30px 0 30px 0;
}

.gitbash-top::after {
  background-color: #4be825;
  border-radius: 0 30px 0 30px;
  right: 0;
}

.gitbash-bottom::before {
  left: 0;
  background-color: #2251d1;
  border-radius: 0 30px 0 30px;
}

.gitbash-bottom::after {
  right: 0;
  background-color: #f7f044;
  border-radius: 30px 0 30px 0;
}

.gitbash-line.angle {
  width: 50%;
  height: 30px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) rotate(45deg);
}

.gitbash-line.angle::before,
.gitbash-line.angle::after,
.gitbash-line.horizontal::after {
  content: '';
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 50%;
}

.gitbash-line.angle::before {
  right: 100%;
  transform: translate3d(50%, -50%, 0);
}

.gitbash-line.angle::after {
  left: 100%;
  transform: translate3d(-50%, -50%, 0);
}

.gitbash-line.horizontal {
  width: 70%;
  height: 30px;
  background-color: white;
  position: absolute;
  top: 115px;
  left: 0;
}

.gitbash-line.horizontal::after {
  left: 100%;
  transform: translate3d(-50%, -50%, 0);
}